<div class="{% if comment.parent_id %}ololo{% endif %}">
    <div  class="image-c">
        <a class="d-flex align-items-center text-white text-decoration-none">
            <img src="{{ comment.user.avatar.url }}" alt="" width="50" height="50" class="rounded-circle me-2">
            <strong class="first-name ">{{comment.user.first_name}}</strong>
        </a></div>
    <p class="text ">{{ comment.text }}</p>


      <div id="newItemButton">
          <button type="submit" id="comment_id_{{comment.id}}" class="reply">Reply</button>
      </div>

        <form action="{% url 'comments' post_id=post_obj.id %}" class="hidden" id="comment_form_id_{{comment.id}}" method="POST">
        <input type="hidden" name="parent" value='{{ comment.id }}'>
                {% csrf_token %}
       {{ comment_form.as_p }}
                <button type="submit" id="addButton" class="">Отправить</button>
               </form>

         <p class="created_at ">{{ comment.created_at }}</p>

    {% for comment in comment.parent_comment.all %}
        {% include 'main/posts/comment.html' with comment=comment %}

    {% endfor %}
</div>