.btn-light-c {
    color: #fff;
    background-color: var(--descriprion-border-info);
    border-color: #be9588;
    border: 2px solid #dcdada;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.bg-light-c {
    background-color: var(--descriprion-border-info);
    border: 2px solid var(--descriprion-border-info);
    border-radius: 20px;
    /* margin-top: 20px; */
    overflow: hidden;
    margin-left: 150px;
    padding: 35px;
    margin-right: 150px;
}

.image-c {
    margin-left: 65px;
    margin-top: 0px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin-right: 6px;
}

textarea {
    resize: vertical;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #aa8073;
}

.first-name {
    margin-top: -70px;
    margin-bottom: 5px;
    color: #000000;
    margin-left: -58px;
}
.text {
    margin-left: 83px;
    /* top: 20px; */
    margin: 10px 83px 70px;
    margin-top: -35px;
    color: whitesmoke;
}

.rounded-circle {
    border-radius: 50%!important;
    border: 1px solid #ffffff!important;
    margin-left: -78px;
}

.created_at{
    font-size: 13px;
    color: #ffffff;
    margin-top: -78px;
    width: 12%;
    float: right;
}

.created_at_up {
    font-size: 13px;
    color: #ffffff;
    margin-top: -78px;
    width: 12%;
    float: right;
}
.form-control {
    display: block;
    margin-top: -20px;
    margin-left: -6px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e1d9d7;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--descriprion-border-info);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.text-white {
    color: #fff!important;
}
.reply {
    color: #000000;
    background: none;
    margin-top: -60px;
    margin-left: 70px;
    border: none;
    font-weight: 900;
}
.ololo {
    margin-left: 78px;
}
.hidden {
    display: none;
    margin-top: -40px;
    margin-left: 70px;
}
#addButton {
    color: white;
    border-radius: 10px;
    background: #d0d0d0b0;
    border: 2px solid #d8d6d6;
}