{% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'fonts/serifgothicitcbybt_bold.ttf' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'main/css/accounts/profile.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Indie+Flower&display=swap" rel="stylesheet">
<head>
    <title> Profile - {{ user.email }}</title>
</head>
{% block body %}

<div class="album py-5 bg-light">
<button type="button" class="btn btn-light left"><a href="/">Back</a></button>

    {% if request.user != user.is_superuser and not user.is_staff %}
        <h1 class="white">USER</h1>
    {% elif request.user == user.is_staff and not user.is_superuser %}
        <h1 class="white">MODERATOR</h1>
    {% else %}
        <h1 class="white">ADMINISTRATOR</h1>
    {% endif %}


    <div class="container">
        <div class="col">
            <div class="col-lg-7">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            </div>
                <div class="col">
            <div class="card_prof strokeblock strokeblock2">
                <div class="card_prof-body">
                {% if user.first_name %}
                    <p>{{ user.first_name }}</p>
                {% else %}
                    <p>Name not set</p>
                {% endif %}

                {% if user.last_name %}
                    <p>{{ user.last_name }}</p>
                {% else %}
                    <p>Surname not set</p>
                {% endif %}


                <label class="additional-info">Site visited today {{ user.count }} times </label><br>
                <label class="additional-info">The last entry was {{ user.day }}</label>

                         {% if user.id == request.user.id %}
                               <form action="{% url 'token' %}" method="POST">
                            {% csrf_token %}
                                   {% if token.key %}
                                  <p class="token">{{ token.key}}</p>
                                       <button type="submit" class="btn btn-light token-key-bt">Generate API key</button>
                               {% else %}
                                       <br>
                                  <button type="submit" class="btn btn-light token-key-bt">Generate API key</button>
                               {% endif %}
                              </form>
                             {% endif %}

                </div>
                <div class="card_prof-body">

                    <img width="300" height="300" src='{% if user.avatar %}
                             {{ user.avatar.url }}{% else %}{% static 'main/image/users/default_avatar.jpg' %} {% endif %}'>

{% if user.id == request.user.id %}
                <h6><a href="{% url 'account_posts_list' status='rejected'%}" class="status line-effect1">Rejected posts <i class="fa-solid fa-xmark"></i></a></h6>
                <h6><a href="{% url 'account_posts_list' status='published'%}"class="status line-effect1">Published posts <i class="fa-solid fa-check"></i></a></h6>
                <h6><a href="{% url 'account_posts_list' status='moderated' %}"class="status line-effect1">Moderated posts <i class="fa-solid fa-list-check"></i></a></h6>
{% endif %}
                </div>
            </div>
                 {% if user.id == request.user.id %}
                    <a class="btn btn-primary" href="{% url 'profile_update' %}">Edit</a>
                 {% endif %}


                </div>
                <br><br><br>
            </div>

      </div>
    </div>

</div>

</div>

{% endblock %}