.btn-light-create-form {
    color: #fff;
    background-color: #c0bebe78;
    border-color: #000000;
    padding-left: 10px;
    margin-bottom: -20px;
    margin-left: 10px;
    border-radius: 3px;
}
.form-control {
    color: #000000;
    font-weight: 600;
    background-color: #f9f6f6ad;
    background-clip: padding-box;
    border: 2px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 15px;
    margin: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: -4px;
}

input, optgroup, select, textarea {
    margin: 0;
    margin-left: 100px;
    color: #939393;
    font-size: inherit;
    line-height: inherit;
}
p {
    color: #000000;
    text-align: left;
}


body {
    /* background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    font-family: 'Cormorant SC', sans-serif;
    background-color: #000000!important;
}

.bg-light {
    background-color: #000000!important;
    margin-top: 20px;
    margin-left: 24px;
}

.btn-light {
    color: #b5b5b5;
    background-color: #000000;
    border-color: #999999;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: -35px;
    border-radius: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #cc9c8f;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #f32453, #ef7c39, #dbb51a, #db8e1a, #f32453);
    border-radius: 8px;
    border: 4px solid #cc9c8f;
}

@media (prefers-reduced-motion: no-preference) {
    :root{
        scroll-behavior: smooth;
    }
}

img, svg {
    vertical-align: middle;
    border-radius: 20%;
    margin-top: -84px;
}