.btn-light-create-form {
    color: #fff;
    background-color: #aa8073;
    border-color: #aa8073;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-left: 60px;
    border-radius: 10px;
}
.form-control {
    color: #aa8073;
    background-color: #f9f6f6;
    background-clip: padding-box;
    border: 2px solid #be988d;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 15px;
    margin: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: -4px;
}

input, optgroup, select, textarea {
    margin: 0;
    margin-left: 21px;
    font-size: inherit;
    line-height: inherit;
}
p {
    color: #9d766b;
    text-align: left;
}


body {
    /* background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    font-family: 'Cormorant SC', sans-serif;
    background-color: #e7b2a2!important;
}

.bg-light {
    background-color: #e7b2a2!important;
    margin-top: 20px;
    margin-left: 24px;
}

.btn-light {
    color: #ddd5d5;
    background-color: #e7b2a2;
    border-color: #d7a698;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: -35px;
    border-radius: 10px;
}

a {
    color: #aa8073;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #cc9c8f;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #f32453, #ef7c39, #dbb51a, #db8e1a, #f32453);
    border-radius: 8px;
    border: 4px solid #cc9c8f;
}

@media (prefers-reduced-motion: no-preference) {
    :root{
        scroll-behavior: smooth;
    }
}