.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-radius: 15px;
    transition: 2s;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 2px solid #000000;
}

a {
    text-decoration: None;
    color: #525252;
    font-weight: bolder;
    font-style: italic;
}


body {
    background: #000000;
    font-family: 'Cormorant SC', sans-serif;
}

*before, *after {
    box-sizing: border-box;
}
li:hover {
    background: #fedca3;
    border: 15px solid black;
    transition: 2s;
}

p {
    font-size: 24px;
    margin-left: 40px;
    color: #fedca3;
}

.created-at-right {
    float: right;
    font-size: 14px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #cc9c8f;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, #f32453, #ef7c39, #dbb51a, #db8e1a, #f32453);
    border-radius: 8px;
    border: 4px solid #cc9c8f;
}

