.btn-light-create-form {
    color: #fedca3;
    background-color: #000000;
    border-color: #fedca3;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-left: 60px;
    border-radius: 10px;
}
.form-control {
    display: flex;
    width: 50%;
    margin-block: auto;
    margin-left: 20px;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 15px;
    margin: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input, optgroup, select, textarea {
    margin: 0;
    margin-left: 21px;
    font-size: inherit;
    line-height: inherit;
    color: #fedca3;
}
p {
    margin-top: 0;
    margin-left: 21px;
    color: #9d766b;
    width: auto;

}


body {
    /* background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Cormorant SC', sans-serif;
    background-color: #000000!important;
}

.bg-light {
    background-color: #000000!important;
    border-radius: 20px;
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 20px;
}

.btn-light {
    color: #fedca3;
    background-color: #000000;
    border-color: #fedca3;
    padding-left: 10px;
    margin-left: 8px;
    margin-top: -35px;
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(100deg, #000000, #ef7c39, #dbb51a, #db8e1a, #f32453); */
    background: #fedca3;
    border-radius: 10px;
    border: 6px solid #000000;
}

@media (prefers-reduced-motion: no-preference) {
    :root{
        scroll-behavior: smooth;
    }
}

.btn-light:hover {
    color: #fedca3;
    background-color: #ffffff70;
    border-color: #f9fafb;
    transition: 1s;
}